node_modules
dist
coverage
.env
.env.*
!.env.example
*.log
logs
tmp
.git
.vscode
.idea
*.md
LICENSE
docker-compose.yml
docker-compose.*.yml
jest.config.js
tests
__tests__
.eslintrc.js
.prettierrc
.gitignore
.dockerignore
